.btn {
  background: #18c683;
  background-image: -webkit-linear-gradient(top, #18c683, #18c683);
  background-image: -moz-linear-gradient(top, #18c683, #18c683);
  background-image: -ms-linear-gradient(top, #18c683, #18c683);
  background-image: -o-linear-gradient(top, #18c683, #18c683);
  background-image: linear-gradient(to bottom, #18c683, #18c683);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;

  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
  -webkit-box-shadow: 0px 7px 34px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 34px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 34px -11px rgba(0, 0, 0, 0.75);
}

.btn:hover {
  border-color: black;
}

.bannerTextH {
  color: #ffffff;
  font-size: 15px;
  font-stretch: ultra-expanded;
  font-family: "Lato", "Helvetica Neue", "Arial", "Helvetica", "sans-serif";
  margin-top: 20px;
  box-sizing: inherit;
  line-height: 1;
}
.bannerTextC {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  box-sizing: inherit;
  line-height: 1;
}

#stats {
  text-align: center;
}

#rank {
  color: black;
}

#table {
  /* margin-left:  500px; */
  /* max-width: 70%; */
  position: relative;
  top: -110px;
  background-color: #ffffff;
  border-radius: 5px !important;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

thead {
  font-size: small;
  text-decoration: none;
  font-weight: normal;
  color: rgb(149, 149, 177);
  background-color: #fafafa;
  border-radius: 5px;
  height: 50px;
  
}

th {
  font-weight: normal;
  text-align: right;
  border-radius: 5px;
  vertical-align: middle;
}

tr {
  transition: background-color 1s;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
}

tr:hover {
  background-color: #eeeeee;
}

td {
  text-align: right;
  height: 60px;
  vertical-align: middle;
}

.coinName {
  font-size: medium;
  line-height: 15px;
}

.coinCode {
  font-size: small;
  color: #5c5c5c;
}

td {
  color: black;
  font-size: 14px;
}

.bannerGrp {
  display: inline;
}

.bannerGrp {
  display: flex;
}

#stats {
  width: 85vw;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#banner {
  height: 200px;
  width: 100vw;
  background: rgb(63, 81, 181);
  background: linear-gradient(
    90deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(100, 180, 246, 1) 100%
  );
}

#stat1 {
  grid-area: 1 / 1 / 2 / 2;
}

#stat2 {
  grid-area: 1 / 2 / 2 / 3;
}

#stat3 {
  grid-area: 1 / 3 / 2 / 4;
}

#stat4 {
  grid-area: 1 / 4 / 2 / 5;
}

#stat5 {
  grid-area: 1 / 5 / 2 / 6;
}

#stat6 {
  grid-area: 1 / 6 / 2 / 7;
}

nav {
  width: 90vw;
}

#table {
  margin-left: 100px;
  margin-right: 100px;
  padding-right: 7px;
  padding-left: 0px;
}

.accordion-button,
.list-group-item {
  background: rgb(63, 81, 181);
  background: linear-gradient(
    90deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(100, 180, 246, 1) 100%
  );
}

#dropdown {
  display: none;
}

#navMenu2 {
  display: none;
}
#navMenu3 {
  display: flex;
}
#navMenu4 {
  display: none;
}

.offCanvasBtns {
  text-align: center;
}

.list-group-item {
  color: #ffffff;
  padding-left: 40px;
}

@media only screen and (max-width: 992px) {
  nav {
    width: 100vw;
  }

  #banner {
    height: 300px;
  }

  #table {
    top: -140px;
  }

  #stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #stat1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #stat2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #stat3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  #stat4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #stat5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #stat6 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .hideCol1 {
    display: none;
  }

  #table {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 767px) {
  table {
    width: 100vw;
  }

  #dropdown {
    display: block;
  }

  .hideCol2 {
    display: none;
  }

  #table {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 5px;
    top: 0px;
  }

  #banner {
    display: none;
  }

  #navMenu1 {
    display: none;
  }
  #navMenu3 {
    display: none;
  }

  #navMenu2 {
    display: block;
  }
  #navMenu4 {
    display: flex;
  }
}
